:root {
  --para-text: Poppins;
  --heading-text: Volkhov;
  --text-orange: #FD8D3A;
  --text-white: #fff;
  --text-dark: #222222;
  --text-dark-gray: #444444;
  --text-gray: #666666;
  --bg-white: var(--text-white);
  --bg-orange: #FA7436;
  --bg-default: #FEFCFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--heading-text), serif;
}

body {
  background-color: var(--bg-default);
  padding: 2rem 4rem;
  font-family: var(--para-text), sans-serif;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-bottom: 2rem;

  * {
    display: flex;
  }

  .logo {
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    font-family: var(--heading-text);
    font-weight: 600;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  ul {
      gap: 2rem;
      justify-content: space-around;
      list-style: none;
      align-items: center;

      li {
          cursor: pointer;
          a {
              text-decoration: none;
              color: var(--text-dark);
          }
      }
  }
  .auth-links {
      justify-content: space-between;
      gap: 3rem;
  }

  #login {
      color: var(--text-orange);
  }

  #signup {
    color: var(--text-white);
    background-color: var(--bg-orange);
    padding: 1rem 4rem;
    border-radius: 5px;
  }
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  .hero-content, .hero-img {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-size: 20px;

    h1 {
      font-size: 64px;
    }

    p {
      font-size: 1.2rem;
      color: var(--text-gray);
    }

    button {  
      background-color: var(--bg-white);
      color: var(--text-orange);
      padding: 1rem 2rem;
      border-radius: 5px;
      border: 1px solid var(--text-orange);
      cursor: pointer;
    }
  }
  .hero-image {
    position: relative;
    background-color: var(--bg-white);

  }

  #hero-img {
    width: 100%;
    height: auto;
  }

  .bold-title {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-dark-gray);
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
  }

  .icon-group {
    position: absolute;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: var(--bg-white);
    p {
      max-width: 120px;
      font-size: 12px;
      color: var(--text-gray);
    }

  }

  .awards {
    top: 6rem;
    left: -3rem;
  }

  .explore {
    bottom: 15rem;
    right: 0;
  }

  .customers {
    bottom: 8rem;
    left: 0;
  }

}

.orange-text {
  color: var(--text-orange);
}

/* Search Bar */

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  gap: 1.5rem;
  padding: 0 1rem;
  margin: 2rem auto;
  background-color: var(--bg-white);
  border-radius: 10px;
}

.search-bar div {
  flex: 1;
  text-align: left;
}

.search-bar label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: var(--text-dark);
}

.search-bar input,
.search-bar select {
  width: 100%;
  /* height: 40px;
  line-height: 40px; */
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: var(--para-text);
  color: var(--text-dark);
  display: flex;
  align-items: center;
}

.search-bar input::placeholder {
  color: #aaa;
}

.search-bar button {
  flex: 0 0 auto;
  padding: 0.8rem 1.5rem;
  background-color: var(--bg-orange);
  color: var(--text-white);
  font-family: var(--para-text);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e66125;
}
